<a name="speakers"></a>

<section id="section-speakers" data-id="speakers">
  <div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="fa fa-users"></i>
      </div>

      <h2>Speakers</h2>
      <div class="divider-inner"></div>

      <ul id="speaker-list">
        {{{speaker 'Abdella Ali' 'Automagic UI Elements Using Redux' 'ywR97lvbxkMIERjamHJ5lU1cLvdWNk8TnS9kuIzR.png' ''}}}
        {{{speaker 'Adam Baldwin' 'Continuous Security' '5k12VLXf2DPVzYoPJkPpUNIguZXuBfhwtttXl9aZ.jpeg' 'adam_baldwin'}}}
        {{{speaker 'Myles Borins' 'Node.js Releases, how do they work?' 'dGOGDVM1wt3A13RQys98lROn5x9BPd4ddIzLQF6V.jpeg' 'thealphanerd'}}}
        {{{speaker 'Donato Borrello' 'The Nitty Gritty of Adaptive Video Transmuxing in JS' 'z8fhKaUw4o7it563xyp8qMCpgma8tVNBSRkbPGxv.png' 'codeassault'}}}
        {{{speaker 'Sher Minn Chong' 'Make art with JavaScript!' '53INkhzgT1mSn8ObvXm2qI9y9vstW8VSRVVOW3Xe.jpeg' 'piratefsh'}}}
        {{{speaker 'Justin Falcone' 'Why is a Guinea Pig Like a Microservice?' 'LI0swaoFaKFYXmUUAKwXMutgv1nAo6pFNUKaK7Np.jpeg' 'modernserf'}}}
        {{{speaker 'Edward Finkler' 'How To Be A Great Developer' '42JnhP2jfQ8iAgniltHRFYKmhVE2QpBCBDu0Ct5H.jpeg' 'funkatron'}}}
        {{{speaker 'Kirsten Hunter' 'Quantifying your Fitness' 'FHB0p8HTv1nDDYbtCcV4XlfNXuxyH9GZhu5K6tzv.jpeg' 'synedra'}}}
        {{{speaker 'Kenton Jacobsen' 'Needs new title - is graphQL talk' 'dnxqZ507VBjcxQZYRw2W50i5py9qvRM57j7aL9xe.jpeg' 'kentonjacobsen'}}}
        {{{speaker 'Sally Jenkinson' 'All these moments will be lost in time: the web, the future, and us' 'JLvYFv2xnR0OdGO7YpW1acrm5UHV6GIq5D3UhCZV.jpeg' 'sjenkinson'}}}
        {{{speaker 'Jason Laster' 'Enter Inspector Inception' 'Abnny4EPp1iTOF5uK29GfFnFRbiu5whstLcUaFyB.png' 'Jasonlaster11'}}}
        {{{speaker 'Nolan Lawson' 'I like the way you work it: all about Web Workers' 'nJY4vIHgOJ8jcKdWsRhVCgI9eiDopcF5biWs4nXG.jpeg' 'nolanlawson'}}}
        {{{speaker 'Thorsten Lorenz' 'Deep Dive into the v8 API' 'B8tGZe7OsSBrJwDi4t57XXGET6av4McGhaOsYcr2.jpeg' 'thlorenz'}}}
        {{{speaker 'Sarah Meyer' 'JavaScript Minus JavaScript' '3tyfMhm384t1jasn0LxKJBwKomoImR08UsRyTPhu.jpeg' 'meyerini'}}}
        {{{speaker 'Gregor Martynus' 'Inviting Communities' 'Zi8JxjFcXVKSzcvEYTEHIBt5QRuAZv6UBYLCgtGv.png' 'gr2m'}}}
        {{{speaker 'Evan Morikawa' 'Desktop JS' 'NPLZQNDETSGdByBjW192PQbYtSZV78qxlY4ZBT5x.jpeg' 'e0m'}}}
        {{{speaker 'Esco Obong' 'Approaching Infinite Scale with WebRTC' 'KD1afbzMWuYzVaXgV45b7X6maB1JiELciLDfpQPD.jpeg' 'escobyte'}}}
        {{{speaker 'Lyzzeth Parody' 'How JS is conquering the world… Mapping Javascript Conferences' 'tTHW3nI5Z1p1vJPRAD5YpcAMzSLYAs9kRTo4llXO.jpeg' 'lizparody23'}}}
        {{{speaker 'Tim Pietrusky' 'I ❤ Music &amp; the Web' 'NWrkrwIdKtPJODKj8PxCor00VPKi1iBp57qGxvE7.jpeg' 'TimPietrusky'}}}
        {{{speaker 'Matthew Podwysocki' 'ChakraCore + Node + IoT = Perfect Together' '5nIpz29SPrA3MB3rCqZVozOw7Xznpw5xCcTTA6Uo.jpeg' 'mattpodwysocki'}}}
        {{{speaker 'Patricia Realini' 'Jiro Dreams of Code: What Startups Can Learn From Chef Culture' 'sZypUn3IC7oJATrUOdmA8ubgv0f4CtF9eGtEfG5D.jpeg' 'patriciarealini'}}}
        {{{speaker 'Brian Sinclair' 'Accessible Accessibility' 'RwcUtBmWRDzVey8N50QKceBoSlx7CbSWjxBg6IIo.jpeg' 'brianarn'}}}
        {{{speaker 'Jem Young' 'Transpilers: Not So Fast My Friend' 'nwegsu2e0RllJU9wvELmOrUWUXz6GnDxbUqRtKDa.jpeg' 'jemyoung'}}}

      </ul>

    </div>
  </div>
  </div>

</section>
