<a name="speakers"></a>

<section id="section-speakers" data-id="speakers">
  <div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="fa fa-users"></i>
      </div>

      <h2>Speakers</h2>
      <div class="divider-inner"></div>

      <ul id="speaker-list">
        {{{speaker 'Abdella Ali' 'Automagic UI Elements Using Redux' 'Abdella_Ali.png' 'ngmachina'}}}
        {{{speaker 'Adam Baldwin' 'Continuous Security' 'Adam_Baldwin.jpg' 'adam_baldwin'}}}
        {{{speaker 'Myles Borins' 'Node.js Releases, how do they work?' 'Myles_Borins.jpg' 'thealphanerd'}}}
        {{{speaker 'Donato Borrello' 'The Nitty Gritty of Adaptive Video Transmuxing in JS' 'Donato_Borrello.jpg' 'codeassault'}}}
        {{{speaker 'Sher Minn Chong' 'Make art with JavaScript!' 'Sher_Minn_Chong.jpg' 'piratefsh'}}}
        {{{speaker 'Justin Falcone' 'Why is a Guinea Pig Like a Microservice?' 'Justin_Falcone.jpg' 'modernserf'}}}
        {{{speaker 'Edward Finkler' 'How To Be A Great Developer' 'Edward_Finkler.jpg' 'funkatron'}}}
        {{{speaker 'Kirsten Hunter' 'Quantifying your Fitness' 'Kirsten_Hunter.jpg' 'synedra'}}}
        {{{speaker 'Kenton Jacobsen' 'GraphQL is En Vogue' 'Kenton_Jacobsen.jpg' 'kentonjacobsen'}}}
        {{{speaker 'Sally Jenkinson' 'All these moments will be lost in time: the web, the future, and us' 'Sally_Jenkinson.jpg' 'sjenkinson'}}}
        {{{speaker 'Jason Laster' 'Enter Inspector Inception' 'Jason_Laster.png' 'Jasonlaster11'}}}
        {{{speaker 'Nolan Lawson' 'I like the way you work it: all about Web Workers' 'Nolan_Lawson.jpg' 'nolanlawson'}}}
        {{{speaker 'Thorsten Lorenz' 'Deep Dive into the v8 API' 'Thorsten_Lorenz.jpg' 'thlorenz'}}}
        {{{speaker 'Sarah Meyer' 'JavaScript Minus JavaScript' 'Sarah_Meyer.jpg' 'meyerini'}}}
        {{{speaker 'Gregor Martynus' 'Inviting Communities' 'Gregor_Martynus.png' 'gr2m'}}}
        {{{speaker 'Evan Morikawa' 'Desktop JS' 'Evan_Morikawa.jpg' 'e0m'}}}
        {{{speaker 'Esco Obong' 'Approaching Infinite Scale with WebRTC' 'Esco_Obong.jpg' 'escobyte'}}}
        {{{speaker 'Lyzzeth Parody' 'How JS is conquering the world… Mapping Javascript Conferences' 'Lyzzeth_Parody.jpg' 'lizparody23'}}}
        {{{speaker 'Tara Lindahl' 'This is your brain on JS' 'Tara_Lindahl.jpg' 'Regular_doc'}}}
        {{{speaker 'Tim Pietrusky' 'I ❤ Music &amp; the Web' 'Tim_Pietrusky.jpg' 'TimPietrusky'}}}
        {{{speaker 'Matthew Podwysocki' 'ChakraCore + Node + IoT = Perfect Together' 'Matthew_Podwysocki.jpg' 'mattpodwysocki'}}}
        {{{speaker 'Patricia Realini' 'Jiro Dreams of Code: What Startups Can Learn From Chef Culture' 'Patricia_Realini.jpg' 'patriciarealini'}}}
        {{{speaker 'Brian Sinclair' 'Accessible Accessibility' 'Brian_Sinclair.jpg' 'brianarn'}}}
        {{{speaker 'Jem Young' 'Transpilers: Not So Fast My Friend' 'Jem_Young.jpg' 'jemyoung'}}}

      </ul>

    </div>
  </div>
  </div>

</section>
